.editor{
    display: flex;
    flex-direction: column;
    position: relative;
}

.button,.addButton{
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color:transparent;
    width: 36px;
    height: 36px;
    border:1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.addButton{
    border-color:#1a8917;
}

.add{
    display: flex;
    position: absolute;
    z-index: 999999;
    background-color:var(--bg);
    gap: 20px;
    width: 100%;
    left: 50px;
}
.textarea::placeholder{
    color:#b3b3b1 !important;
}
.textarea{
    appearance: none;
    margin-top: 4rem;
    width: 100%;
    font-size: 28px !important;
    resize: none;
    background-color: transparent;
    border:none;
    outline: none;
    color: var(--textColor);
    height: 30vh;
}

.title{
    margin: 50px 0px 50px 0px;
    font-size: 64px;
    width: 100%;
    overflow: hidden;
    border:none;
    outline: none;
    background-color:transparent;
    color: var(--textColor);

}

.title::placeholder{
    color: #b3b3b1;
}
.publish{
    padding: 10px 20px;
    border:none;
    background-color:#1a8917;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.select{
    margin-bottom: 50px;
    padding: 1em 0 1em 1em;
    width: max-content;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    border: 1px solid rgba(18, 120, 18, 0.559);
    border-radius: 10px;
    border-radius: 0;
    position: relative;
    border-right-width: 20px;
    background-color: rgb(38, 200, 38);
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.select:focus{
    outline: 0;
    background-color: rgba(20, 133, 20, 0.87);

}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: calc(100vh - 90px);
}
.titleLoding{
    font-size: 72px;
    color: red;
}